<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
>
    <testsuites>
        <!-- General -->
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>

        <!-- Units -->
        <testsuite name="ApiResponse">
            <directory suffix="Test.php">./tests/Unit/System/ApiResponseTest.php</directory>
        </testsuite>
        <testsuite name="BugLog">
            <directory suffix="Test.php">./tests/Unit/System/BugLogTest.php</directory>
        </testsuite>
        <testsuite name="AddressFormatter">
            <directory suffix="Test.php">./tests/Unit/Billing/AddressFormatterTest.php</directory>
        </testsuite>
        <testsuite name="BrazillianAddress">
            <directory suffix="Test.php">./tests/Unit/Billing/BrazillianAddressTest.php</directory>
        </testsuite>

        <!-- Features -->
        <testsuite name="AuthRoutes">
            <directory suffix="Test.php">./tests/Feature/Auth/AuthRoutesTest.php</directory>
        </testsuite>
        <testsuite name="UserRoutes">
            <directory suffix="Test.php">./tests/Feature/Billing/UserRoutesTest.php</directory>
        </testsuite>
        <testsuite name="EmployeeRoutes">
            <directory suffix="Test.php">./tests/Feature/Billing/EmployeeRoutesTest.php</directory>
        </testsuite>
        <testsuite name="TeacherRoutes">
            <directory suffix="Test.php">./tests/Feature/Billing/TeacherRoutesTest.php</directory>
        </testsuite>
        <testsuite name="StudentRoutes">
            <directory suffix="Test.php">./tests/Feature/Billing/StudentRoutesTest.php</directory>
        </testsuite>
        <testsuite name="AddressRoutes">
            <directory suffix="Test.php">./tests/Feature/Billing/AddressRoutesTest.php</directory>
        </testsuite>
        <testsuite name="CustomerRoutes">
            <directory suffix="Test.php">./tests/Feature/Billing/CustomerRoutesTest.php</directory>
        </testsuite>
        <testsuite name="BillerRoutes">
            <directory suffix="Test.php">./tests/Feature/Billing/BillerRoutesTest.php</directory>
        </testsuite>
        <testsuite name="BugLogRoutes">
            <directory suffix="Test.php">./tests/Feature/System/BugLogRoutesTest.php</directory>
        </testsuite>

        <!-- Features -->
        <testsuite name="PayGo">
            <directory suffix="Test.php">./tests/Integration/PayGo</directory>
        </testsuite>
        <testsuite name="ViaCep">
            <directory suffix="Test.php">./tests/Integration/ViaCep</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>

    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="ec_dev"/>
        <server name="DB_DATABASE" value="ec_tests"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
    </php>

    <logging>
        <log type="testdox-text" target="api-tests.txt"/>
    </logging>

</phpunit>
